@charset "utf-8";

#container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
}
/* メニューバーの装飾 */
nav {
  width: 100%; /*  */
}
/* メインメニュー項目の装飾 */
nav ul#menu {
  margin-top: 0px; /*  */
  background-color: #eee; /*  */
  padding: 0px; /*  */
  height: 40px; /*  */
}
nav ul#menu li {
  width: 25%; /* メニュー項目の横幅 */
  float: left;
  list-style-type: none;
  position: relative;
}
nav ul#menu li ul.sub {
  width: 100%;
}
nav ul#menu a {
  background-color: #9f9; /* メニュー項目の背景色 */
  color: #000;
  line-height: 40px; /* メニュー項目のリンクの高さ（「メニュー項目の高さ」と一致させる） */
  text-align: center; /* メインメニューの文字列の配置（中央寄せ） */
  text-decoration: none; /* メニュー項目の装飾（下線を消す） */
  display: block;
}
nav ul#menu a:hover {
  background-color: #fff; /* メニュー項目にマウスが載ったときの背景色 */
  color: #000; /* メニュー項目にマウスが載ったときの文字色 */
}

/* ---------------------- */
/* サブメニュー項目の装飾 */
nav ul#menu ul.sub {
  position: absolute;
  margin-left: -20%;
}
nav ul#menu ul.sub li {
  width: 100%; /* サブメニュー1項目の横幅 */
}
nav ul#menu ul.sub li a {
  line-height: 35px; /* サブメニュー1項目の行高（「サブメニュー1項目の高さ」と合わせる） */
  text-align: left; /* 文字列の配置（左寄せ） */
  text-indent: 5px; /* 文字列前方の余白 */
}
nav ul#menu ul.sub li a:hover {
  background-color: #663; /* サブメニュー項目にマウスが載ったときの背景色 */
  color: #fff; /* サブメニュー項目にマウスが載ったときの文字色 */
}

/* スクロール画像のCSS設定 */
div.slider {
  margin-top: 30px;
}
div.slider img {
  width: 100%;
}

/* NewsのCSS設定 */
article h1 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-top: 60px;
  margin-bottom: 20px;
}
article section {
  margin: 30px 0 40px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
article section h2 {
  font-size: 0.9em;
}
article section p {
  margin-top: 10px;
  font-size: 0.8em;
  line-height: 1.2em;
}
